In [1]:
# Imports
import pandas as pd
import numpy as np

In [2]:
# Import csv
customers = pd.read_csv(r"C:\Users\65922\Downloads\python\raw_data.csv")

In [3]:
# Preview of dataset
customers.head()

  customer_id  age  gender     city              email
0     C000001   61   Other   Lisbon  user1@example.com
1     C000002   61  Female  Coimbra  user2@example.com
2     C000003   22  Female     Faro  user3@example.com
3     C000004   46   Other   Lisbon                NaN
4     C000005   47   Other     Faro  user5@example.com

In [4]:
# Count rows and columns
customers.shape

(25000, 5)

In [21]:
# Check data formatting
customers.dtypes

customer_id      object
age               int64
gender           object
city             object
email            object
age_band       category
dtype: object

In [5]:
# Check data formatting
customers.age.unique()

array([61, 22, 46, 47, 59, 52, 49, 48, 20, 32, 45, 18, 23, 27, 63, 68, 62,
       40, 42, 29, 65, 36, 25, 51, 37, 31, 39, 26, 54, 50, 67, 21, 55, 35,
       64, 19, 38, 44, 43, 58, 56, 33, 30, 28, 53, 69, 16, 24, 60, 17, 34,
       66, 41, 57], dtype=int64)

In [6]:
# Check data formatting
customers.gender.unique() # Assume that '???' means that the customer is uncomfortable sharing this information

array(['Other', 'Female', 'Male', '???'], dtype=object)

In [7]:
# Check data formatting
customers.city.unique()

array(['Lisbon', 'Coimbra', 'Faro', 'Braga', 'Porto'], dtype=object)

In [8]:
# Obtain a quick statistical summary of customer age
customers.age.describe()

count    25000.000000
mean        42.461280
std         15.561587
min         16.000000
25%         29.000000
50%         43.000000
75%         56.000000
max         69.000000
Name: age, dtype: float64

In [9]:
# Duplicates in customers are assumed to be data entry errors
customers = customers.drop_duplicates(subset='customer_id')

In [10]:
# Check how much data was lost
customers.shape

(25000, 5)

In [11]:
# Replace NaN values to allow for future numerical operations
customers.email.fillna("None") # Assume that NaN emails means that customers did not provide this

0            user1@example.com
1            user2@example.com
2            user3@example.com
3                         None
4            user5@example.com
                 ...
24995    user24996@example.com
24996    user24997@example.com
24997    user24998@example.com
24998    user24999@example.com
24999    user25000@example.com
Name: email, Length: 25000, dtype: object

In [13]:
# Sanity check (remove impossible ages)
customers[(customers['age'] < 0) | (customers['age'] > 100)]

Empty DataFrame
Columns: [customer_id, age, gender, city, email]
Index: []

In [14]:
# Count number of customers of each gender
customers['gender'].value_counts() # No gender skew detected

Male      8337
Other     8255
Female    8110
???        298
Name: gender, dtype: int64

In [15]:
# Count number of customers from each city
customers['city'].value_counts().head(20) # Customer count is lowest in Porto, so differentiated approached could be considered

Faro       5118
Lisbon     5062
Braga      5000
Coimbra    4978
Porto      4842
Name: city, dtype: int64

In [16]:
# Create age bands to classify customers for easier numerical operations and visualisation later
bins = [0, 19, 29, 39, 49, 120]
labels = ['<20', '20–29', '30–39', '40–49', '50+']

customers['age_band'] = pd.cut(customers['age'], bins=bins, labels=labels)

In [17]:
# Check distribution of customers across age bands
customers['age_band'].value_counts() 
# Most customers are from 30-49 or 50+ years of age, so marketing strategies could be primarily targeted at these age groups

50+      9212
40–49    4673
20–29    4659
30–39    4621
<20      1835
Name: age_band, dtype: int64

In [18]:
# Sanity check (new column added)
customers.head()

  customer_id  age  gender     city              email age_band
0     C000001   61   Other   Lisbon  user1@example.com      50+
1     C000002   61  Female  Coimbra  user2@example.com      50+
2     C000003   22  Female     Faro  user3@example.com    20–29
3     C000004   46   Other   Lisbon                NaN    40–49
4     C000005   47   Other     Faro  user5@example.com    40–49

In [19]:
# Check distribution of customers by age across cities and gender
customers.groupby(['city', 'gender'])['age'].size().round(1) # Even distribution on gender across all five cities

city     gender
Braga    ???         54
         Female    1609
         Male      1648
         Other     1689
Coimbra  ???         61
         Female    1622
         Male      1658
         Other     1637
Faro     ???         62
         Female    1673
         Male      1753
         Other     1630
Lisbon   ???         63
         Female    1632
         Male      1654
         Other     1713
Porto    ???         58
         Female    1574
         Male      1624
         Other     1586
Name: age, dtype: int64

In [20]:
customers.to_csv("customers_cleaned_python.csv")